* {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General layout */
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
  padding: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Game card */
.game-card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 16px;
  max-width: 40rem;
  width: 100%;
  box-shadow: 0 0 30px rgba(120, 119, 119, 0.43);
}

/* Header */
.game-header {
  text-align: center;
  margin-bottom: 25px;
}

.game-title {
  font-size: 2.2rem;
  margin: 0;
  color: #ff4da6;
}

.game-subtitle {
  margin-top: 6px;
  font-size: 0.9rem;
  color: #bbbbbb;
}

/* Game layout */
.game-main {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
}

/* Right panel */
.game-pannel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 240px;
}

.game-status {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 8px;
  background: #222;
}

.game-status-winner {
  background: #28a745 !important;
}

.game-status-draw {
  background: #6c757d !important;
}

.game-reset {
  padding: 10px;
  font-size: 1rem;
  background: #ff4da6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.game-reset:hover {
  background: #ff2a8e;
}

.game-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.badge {
  display: inline-block;
  padding: 6px 10px;
  background: #333;
  border-radius: 6px;
  font-size: 0.9rem;
  text-align: center;
}

.hint {
  font-size: 0.8rem;
  opacity: 0.7;
}

/* Responsive layout */
@media (max-width: 630px) {
  * {
    font-size: 0.9rem;
  }
  .game-card {
    max-width: 35rem;
  }
  .game-main {
    margin-top: 2rem;
  }
  .game-reset {
    /* font-size: 1rem; */
  }
}

@media (max-width: 390px) {
  * {
    font-size: 0.9rem;
  }
  .game-card {
    max-width: 23rem;
    height: 70vh;
    padding-bottom: 10px;
  }
  .game-main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
  }
  .game-reset {
    /* font-size: 1rem; */
  }
}
