* {
  font-family: "Poppins", sans-serif;
}
.board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.board-row {
  display: flex;
  gap: 10px;
}

/* Responsive layout */
@media (max-width: 630px) {
  .board,
  .board-row {
    gap: 8px;
  }
}

@media (max-width: 390px) {
  .board,
  .board-row {
    gap: 5px;
  }
}
