* {
  font-family: "Poppins", sans-serif;
}
.square {
  width: 90px;
  height: 90px;
  background: #111;
  border: 2px solid #333;
  border-radius: 12px;
  font-size: 2.5rem;
  color: #ff4da6;
  cursor: pointer;
  transition: 0.2s;
}

.square:hover {
  background: #222;
}

.square--winning {
  background: #28a745;
  color: white;
  border-color: #3bd35c;
}
.square--winning:hover {
  background: #28a745;
}

/* Responsive layout */
@media (max-width: 630px) {
  .square {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 390px) {
  .square {
    width: 50px;
    height: 50px;
  }
}
